@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Space Grotesk", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  min-height: 100vh;
}

.container-app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px;
}
